# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python REPL history
.python_history

# Jupyter runtime files
~$*.ipynb
*.nbconvert.ipynb
*.nbconvert/
*.nb.html


# Ignore data folder for Assignment7
Assignment7/data/
*docx


# big data files
FALL2025/DATA698/*.csv
FALL2025/DATA698/raw_data/*.csv
FALL2025/DATA698/processed_data/*.csv
FALL2025/DATA698/processed_data/semi_final/*.csv
Spring2026/DATA620/week3/*.gexf
Spring2026/DATA620/week3/*.gephi
Spring2026/DATA620/week3/*.mp4